body {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 17px;

        &-track {
            background-color: rgba($main-color, .3);

        }

        &-thumb {
            background-color: rgba(white, .8);
            border-radius: 3px;
            border: 2px solid rgba($main-color, .3);

            &:hover {
                background-color: rgba(white, 1);

            }
        }
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}