@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Raleway:wght@300;400;500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

$main-color: rgb(48, 52, 57);

body {
    font-family: 'Noto Sans TC';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {

    &:focus, &:active {
        outline: none;
    }
}

@import './app.scss';
@import './search/search.scss';
@import './movies-list.scss';
@import './movie-info.scss';
@import './spinner.scss';
@import './nothing-found.scss';