.search-results-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    border-radius: 0 0 3px 3px;
    margin: 0;
    padding: 0;

    .results-item {
        display: flex;
        padding: 15px;
        align-items: center;
        border-bottom: 1px solid rgba($main-color, .2);
        cursor: pointer;
        transition: .1s;

        &:nth-last-child(1) {
            border-radius: 0 0 3px 3px;
            border-bottom: none;
        }

        &-link {
            width: 100%;
            display: flex;
            
            .img-wrap {
                width: 12%;
                height: 55px;
                display: flex;
                position: relative;
                overflow: hidden;
                align-items: center;
                border-radius: 2px;
                background-color: rgba($main-color, .2);

                img {
                    width: 100%;
                    position: absolute;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                margin-left: 25px;

                p {
                    margin: 0;
                    font-size: 1.2em;
                    color: $main-color;
                }

                span {
                    font-size: .9em;
                    opacity: .4;
                }
            }
        }

        &:hover {
            background-color: rgba($main-color, .1);
        
            .info {

                p {
                    text-decoration: underline;
                }
            }
        }
    }
}